<div class="navbar  navbar-dark bg-primary shadow-sm ">
    <div class="container ">
        <div class="navbar-brand align-item-center d-flex">
            <i  class="fa-solid fa-truck-fast">&nbsp;</i>
            <strong > amazon</strong>
            <div class="form-group">
                <input type="text" class="form-control"  (keyup)="search($event)" placeholder="search product">
            </div>
            <i class="fa-solid fa-magnifying-glass"></i>        
        </div>
        <button routerLink="cart" class="btn btn-primary cart">
            <i class="fa-solid fa-cart-arrow-down mb-1" ></i>
            <div class="badge badge-danger" *ngIf="count>0" >{{count}}</div>
        </button>
    </div>
</div>